body {
  margin: 0;
  padding: 0;
  display: block;
}
body,
input,
button {
  font-size: 14px;
}
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  margin-top: 6.85%;
}
.logo-image {
  width: auto;
}
.searchbar {
  display: flex;
  justify-content: center;
  margin: 1.55%;
}
.searchbar-bar {
  width: 30%;
}
.navbar {
  display: flex;
  margin: 0;
  align-items: center;
  padding: 6px;
}
a.tabs:first-of-type {
  margin-left: 15px;
}
a.tabs {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  color: #222;
}
.navbar2 {
  display: inline-block;
  flex-grow: 1;
}
.footer-container {
  background: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
  position: absolute;
}
.footer-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.footer-links li {
  list-style: none;
  align-items: center;
  padding: 0px 10px;
}
.footer-links li a {
  text-decoration: none;
  padding: 2rem;
  display: block;
  color: rgb(146, 146, 146);
}
.two-buttons {
  display: flex;
  justify-content: center;
}
.a-button1 {
  display: flex;
  margin-right: 5px;
}
.a-button2 {
  display: flex;
  margin-left: 5px;
}
button {
  background-color: rgb(245, 245, 245);
  border: none;
  padding: 10px;
}
